body {
  text-align: center;
}

.grid-container-body{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: transparent;
}

.grid-item-body{
    background-color: transparent;
    padding: 400px;
    font-size: 400px;
    text-align: center;
}
